<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="Url" value="https://www.amazon.in" ></parameter>
  <test thread-count="5" name="Test">
  <parameter name="Url" value="https://www.amazon.in" ></parameter>
    <classes>
      <class name="com.qa.amazonsearchproduct.Amazonsearchtest"/>
      <parameter name="Browser" value="chrome"></parameter>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
<!-- https://mvnrepository.com/artifact/com.relevantcodes/extentreports -->
